body{
    /* background-color: #090b0c; */
    color: darkred;
    background: url("../assets/castle-fantasy-landscape-halloween-mountain-scenery-ancient-palace-medieval-tower-forest-gothic-fortress-dark-sky-dracula-chateau-night-panorama-.webp");
    background-size: cover;
    overflow-x: hidden;
    overflow-y: hidden;
    cursor: url("../assets/download-removebg-preview.png");
}
h1{
    font-family: 'Inter Tight', sans-serif;
}
.Titile{
    display: flex;
    position: relative;
    justify-content: center;
    top: 100px;
    
}
.Titile>h1{
font-size: 70px;
color: #ffffff ;
font-weight: 900;
margin-left: 5px;
margin-right: 5px;
text-transform: uppercase;
animation: flip 2s infinite;
animation-delay: calc(.2s * var(--i));
font-family: 'Sora', sans-serif;
position: relative;
bottom: 200px;
-webkit-text-stroke: 2px black;
}
@keyframes flip {
    0%,80% {
        transform: rotateY(360deg)
    }
}
.gunIcon,.zombieIcon{
    height: 80px;
    width: 80px;
    margin-right: 5px;
    position: relative;
    bottom: 200px;
}
.zombieIcon{
    text-transform: uppercase;
animation: flip 2s infinite;
animation-delay: calc(.2s * var(--i))
}
.sooteimg{
    background: url("../assets/240_F_345914199_y2NFNGF2x2GYA5uCncld7egym7dABuA0-removebg-preview.png");
    background-size: cover;
    height: 350px;
    width: 585px;
    position: relative;
    bottom: 17px;
    left: 650px;
}
.zombieImg{
    background: url("../assets/_Pngtree_pumpkin_zombie_halloween_killer_artwork_5107703-removebg-preview.png");
    background-size: cover;
    height: 300px;
    width: 300px;
    position: relative;
    bottom: 340px;
    right: 100px;
}
#btnplay{
    width: 150px;
    height: 60px;
    position: relative;
    bottom: 710px;
    left: 400px;
    font-size: 30px;
    border-radius: 20px;
    background-color:  #145A32;
    border: 1px solid black;
    cursor: pointer;
}
#btnplay:hover{
    background:transparent;
    color: red;
    border:2px solid #ffffff;
}
.dropbtn:hover{
    background:transparent;
    color: red;
    border:2px solid #ffffff;
}
.progress{
    position: relative;
    bottom: 500px;
    /* width: 400px; */
    left: 450px;
    height: 5px;
    background: red; 
    width: 0px;
    text-align: center;
    border: 2px solid gray;
}
/* level */
.dropbtn {
    background-color:  #145A32;
    color: white;
    /* padding: 16px; */
    font-size: 16px;
    border: 1px solid black;
    cursor: pointer;
    border-radius: 20px;
    width: 150px;
    height: 60px;
    font-size: 30px;
 
  }
  .dropbtn:hover{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
    bottom: 700px;
    left: 500px
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #145A32  ;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border: 1px solid black;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  /* .dropdown:hover .dropbtn {
    background-color: #3e8e41;
  } */