* {
margin:0;
padding:0;
box-sizing: border-box;
text-decoration: none;
}
h1,h2{
    font-family: 'Source Sans Pro', sans-serif;
}
h5{
    font-family: 'Inter Tight', sans-serif;
}
p,pre{
    font-family: 'Inter Tight', sans-serif;
}
body{
    width: 100vw;
    overflow-x: hidden;
    z-index: 0;
}
.max-width {
    max-width:100% ;
    padding:0 80px;
    margin: auto;
}
/*navbar styling*/
.navbar{
    position: fixed;
    z-index: 1;
    background: crimson;
    width: 100%;
    padding: 14px 0;
    font-family:"Calibri";
    
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content:space-between;
}
 .logo  a{
    color: black;
    font-size: 35px;
    font-weight: 600;
}
.navbar .logo a span{
    color: aliceblue;
}

 .menu li{
    list-style: none;
    display: inline-block;
}
.menu li a{
    color: black;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}
.navbar .menu li a:hover{
    color: white;
    font-size: 20px;
}
/*home section styling*/
.home{
    display: flex;
    height: 100vh;
    color: white;
    min-height: 400px;
    background: #101010;
    position: relative;
    width: 100%;
    overflow-x: hidden;
}
.home-center{
    position: relative;
    left: 50px;
    margin: 0;
    padding: 0;
   bottom: 20px;
}
.home .home-center span{
    color: white;
}

.home .max-width{
    margin: auto 0 auto 50px;
    margin-top: 160px;
    position: relative;
    right: 350px;
}
.home .home-center .text-1{
    font-size: 27px;
   
}
.home .home-center .text-2{
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}
.home .home-center .text-3{
    font-size: 40px;
    margin: 5px 0;
}
.home .home-center .text-4{
    font-size: 15px;
    font-weight: 100;
    font-family: "Bold Italic Art";
    color: #fcfc;
    position: relative;
    top: 0px;
}
.home .home-center .text-3{
    position: relative;
}
.home .home-center .text-3 span {
  color: crimson;
   /* font-weight: 500;*/
    color: crimson;
    font-weight: 500;
    display: inline-block;
    text-transform: uppercase;
    animation: flip 2s infinite;
    animation-delay: calc(.2s * var(--i))
}
@keyframes flip {
    0%,80% {
        transform: rotateY(360deg)
    }
}
.home .detel {
    background-color: crimson;
    text-decoration: none;
    border:2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
    width: 25%;
    margin: 40px 20px 30px 50px;
    text-align: center;
    margin: 0;
}
.detel a{
    color: white;
}
.home .detel:hover{
    background-color:transparent;
    border: 2px solid white;
    cursor: pointer;
}

 .manimage{
     height: 380px;
     width: 350px;
     border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
     margin-left: 10%;
     margin-top: 35%;
     background-color: crimson;
     position: relative;
     left: 880px;
     margin: 0;
     padding: 0;
     top: 105px;
}

.social-home {
    font-size: 30px;
    position: absolute;
    bottom:  58px;
    height: 50%;
    left: 30px;
}
.social-home > a img{
    width:40px;
    height: 40px;
}
.social-home > a > i{
    color:crimson ;
}
.up {
    position: fixed;
    border-radius: 41px;
    right: 40px;
    bottom: 40px;
    cursor: pointer;
}

.up > a > i{
    font-size: 28px;
    color: green;
    position: relative;
    left:3px;
}
.up > a > img{
    width: 30px;
    height: 30px;
}
.up > a > i:hover{
    font-size: 30px;
    color: #f9004d;
}
.up > a > img:hover{
   width: 35px;
   height: 35px;
}

/*about section style*/
.about{
    width: 100%;
    padding: 100px 0px;
    background-color: #191919;

}
.main > img{
    height: 400px;
    width: 350px;
   margin: 0;
   padding: 0; 
border-radius: 3%;
 
}

.about-text{
  width: 550px;
}
.main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto ;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.about-text h2{
    color: whitesmoke;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;
   
}
.about-text h5{
    color: white;
    letter-spacing: 2px;
    font-size: 20px;
    margin-bottom: 25px;
    text-transform: capitalize;
}
.about-text h5 span{
    color: crimson;
}
.about-text p{
    color: #fcfc;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}
.about-text button{
    background-color: #f9004d;
    color: white;
    text-decoration: none;
    border:2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
}
.about-text button span{
    color: white;
}
.about-text button:hover{
    background-color:transparent;
    border: 2px solid white;
    cursor: pointer;
    color: white;
}

/*styling skill area*/
.skills{
   /* margin: auto;
    width:1100px;
    padding:100px 0;
    background-color:#101010;*/
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    flex-direction: column;
    background-color:#101010 ;
}
.info>span{
    font-family: 'Inter Tight', sans-serif;
}
.skills h1{
    color: whitesmoke;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;
    text-align: center;
}
.skills h2{
    color: whitesmoke;
    font-size: 35px;
    margin-bottom: 20px;
}
.Skill-content{
    display: flex;
    align-items: center;
    margin-top: 50px;
}
.left{
    width: 50%;
}
.left h1{
    text-align: left;
    color: white;
    font-size: 30px;
}
.left p{
    font-size: 18px;
    color: #fcfc;
    margin: 15px 0;
    padding: 0;
}
.left a{
    background-color: crimson;
    color: white;
    text-decoration: none;
    border:2px solid transparent;
    font-weight: bold;
    padding: 9px 22px;
    border-radius: 30px;
    transition: .4s;

}
.left a:hover{
    background-color: transparent;
    border: 2px solid white;
    cursor: pointer;
    color: white;
}
.right{
    flex: 1;
    margin-left: 30px;
}
.right .line{
    margin-bottom: 15px;
    color: white;
}
.right .info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.right .info span{
    font-weight: 500;
    font-size: 18px;
}
.right .bar{
    background:#353b48;
    display: block;
    height: 8px;
    border: 1px solid rgba(0, 0, 0, 0, 3);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0, 12), 0 1px 2px rgba(0, 0, 0, 0, 24);
    transition: all cubic-bezier(.25,.8,.25,1);
}
.right .bar{
    background:#101010;
    display: block;
    height: 7px;
    border: 1px solid rgba(0, 0, 0, 0, 3);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0, 12), 0 1px 2px rgba(0, 0, 0, 0, 24);
    transition: all cubic-bezier(.25,.8,.25,1);

}
.right .bar:hover{
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0, 25), 0 10px 10px rgba(0, 0, 0, 0, 22);
    cursor: pointer;
}
.right .bar span{
    height: 20px;
    float: left;
    background: linear-gradient(135deg, rgba(236, 0, 140, 1)0%, rgba(252, 103, 103, 1)100% );
}
.html{
    width: 90%;
    animation: html 6s infinite;
}
.css{
    width: 80%;
    animation: css 6s infinite;
}
.js{
    width: 75%;
    animation: js 6s infinite;
}
.java{
    width: 75%;
    animation: java 6s infinite;
}
.mysql{
    width: 55%;
    animation: mysql 6s infinite;
}
@keyframes html{
    0%{
        width: 0%;
    }
    100%{
        width: 95%;
    }
}
@keyframes css{
    0%{
        width: 0%;
    }
    100%{
        width: 85%;
    }
}
@keyframes js{
    0%{
        width: 0%;
    }
    100%{
        width: 80%;
    }
}
@keyframes java{
    0%{
        width: 0%;
    }
    100%{
        width: 75%;
    }
}
@keyframes mysql {
    0% {
        width: 0%;
    }
    100% {
        width: 60%;
    }
}
.skills-icon{
    margin-left: 390px;
    display: flex;
    margin-top: 40px;
}
 h1.skill-tools{
     font-size: 20px;
     margin-bottom: 0px;
     margin-top:28px;
     text-shadow:none;

}


.Skill-box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 200px ;
}
.Skil-card:hover{
    border: 1px solid white;
    cursor: pointer;
    height: 195px;
    width: 265px;
}
.Skil-card{
    height: 165px;
    width: 235px;
    padding: 20px 35px;
    background: #191919;
    border-radius: 20px;
    margin: 15px;
    overflow: hidden;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;

}
.tools-img{
    margin: 5px 5px 5px 5px;
    width: 40px;
    height: 40px;
    border-radius: 50%;

}
/*styling educatin & qualification*/
.qualification_section{
    background-color: #191919;
    height: 100vh;
    color: white;
}
.section__title {
    text-align: center;
    font-size: 60px;
   padding: 30px;
}
.section__subtitle{
   
    width: 100px;
}
.qualification__tabs{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: var(--mb-2);
}
.qualification__button{
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
    cursor: pointer;
}
.qualification__button:hover{
    color: var(--first-color);
}
.qualification__icon{
    font-size: 1.8rem;
    margin-right: var(--mb-0-25);
}
.qualification__data{
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    column-gap: 1.5rem;
}
.qualification__title{
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    color: #f9004d;
    font-size: 20px;
}
.qualification__subtitle{
    display: inline-block;
    font-size: var(--small-font-size);
    margin-bottom: var(--mb-1);
}
.qualification__calendar{
    font-size: var(--small-font-size);
    color: var(--text-color-light);
    color:rgb(254, 254, 254);
}
.qualification__calendar > i{
    color: #00bcd4;
}
.qualification__rounder{
    display: inline-block;
    width: 13px;
    height: 13px;
    background-color: #f9004d;
    border-radius: 50%;
}
.qualification__line{
    display: block;
    width: 1px;
    height: 100%;
    background-color: #f9004d;
    transform: translate(6px, -7px);
}
.qualification [data-content]{
    display: none;
}
.qualification__active[data-content]{
    display: block;
}
/*contact me area styling*/
.contact{
   /* position: relative;*/
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color:#101010 ;
}
.icon > i{
    color:#263e60;
   font-size: 35px;
   border: 1px solid #263e60;
   border-radius: 50%;
}
.icon > i:hover{
    border: 1px solid white;
    font-size: 38px;
}
.contact h2 span{
    color: white;
    font-size: 75px;
    font-width: 500px;

}
.contact > .content{
    max-width: 800px;
    text-align: center;
}
.contact > p {
    font-width: 500px;
    color:white;
   left: 50px;
   cursor: pointer;
}

.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.container .contactinfo{
    width: 50%;
    display: flex;
    flex-direction: column;

}
.container .contactinfo .cbox{
  /*  position: relative;*/
    padding: 20px 0;
    display: flex;
}
.container .contactinfo .cbox img{
    min-width: 60px;
    height: 60px;
    background-color: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 20px;
}
.container .contactinfo .cbox .Conatctext{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: floralwhite;
    flex-direction: column;
    font-width: 300px;
}
.container .contactinfo .cbox .Conatctext h3{
    font-width: 500;
    color: crimson;
}
.contactForm{
    width: 40%;
    padding: 40px;
    background-color: honeydew;
    border: crimson;
    border-bottom: 2px solid crimson;
    border-left : 2px solid crimson;
    border-right : 2px solid crimson;
    border-top: 2px solid crimson;
    border-radius:20px ;
 }
.contactForm h2{
    font-size: 30px;
    font-family: "sans-serif";
    color: crimson;
    font-weight: 500;
   margin-left: 75px;
}
.contactForm .inputbox{
    /*position: relative;*/
    width: 100%;
    margin-top: 10px;
}
.contactForm .inputbox input, .contactForm .inputbox textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin:10px 0;
    border:none;
    border-bottom: 2px solid #333;
    outline: none;
    /*resize: none;*/
    background-color: honeydew;
    pointer-events: fill;

}
.contactForm .inputbox span{

   /* left:100px;*/
    padding: 5px 0;
    font-size: 16px;
    margin:10px 0;

}
.contactForm .button-submit{
    width: 100px;
    background: #00bcd4;
    color: #fff;
    border:none;
    cursor: pointer;
    padding: 10px;
    font-size: 10px;
    background-color: #f9004d;
    border-radius: 30px;
    margin-left: 100px;

}
.button-submit:hover{
    background-color:transparent;
    border: 2px solid #f9004d;
    cursor: pointer;
    color: black;
    width: 100px
}


    /*service area styling*/
.service{
  background: #191919;
    width: 100%;
    padding: 100px 0px;
}
.title h2{
    color: white;
    font-size: 70px;
    width: 1130px;
    margin: 30px auto;
    text-align: center;

}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px ;
}
.card{
    height: 365px;
    width: 335px;
    padding: 20px 35px;
    background: #101010;
    border-radius: 20px;
    margin: 15px;
    /*position: relative;*/
    overflow: hidden;
    text-align: center;
}
.card > img{
    width: 45px;
    height: 45px;
}
h5{
    color: white;
    font-size: 23px;
    margin-bottom: 15px;
}
.pra p{
    color: #fcfc;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 25px;
}
.card .button{
    background-color: transparent;
    color: crimson;
    text-decoration: none;
    border:2px solid transparent;
    font-weight: bold;
    padding: 9px 22px;
    border-radius: 30px;
    transition: .4s;
    border-color: white;
}
.card .button:hover {
    background-color: #f9004d;
    border: 2px solid #f9004d;
    cursor: pointer;
    color: white;
}
/*project styling*/
.projectsection{
    min-height: 50vh;
    padding: 50px 100px;
    display: flex;
    flex-direction: column;
    background-color: #101010;
}

.projectH1{
    text-align: center;
    color: white;
    font-size: 40px;
    text-align: center;

}
/* Slideshow container */
.slideshow-container {
    height: 250px;
    width: auto;
    padding: 20px 35px;
    background:  #101010;
    border-radius: 20px;
    margin: 10px;
    position: relative;
    overflow: hidden;
    text-align: center;

}
.col-One{
    grid-column: 1/2;
    grid-row: 1/1;
}
.col-two{
    grid-column: 2/2;
    grid-row: 1/1;
   
}
#progect1{
    right: 190px;
    position: relative;
    background-color: #EC9325;
    color:#101010;
    text-decoration: none;
    border:2px solid transparent;
    font-weight: bold;
    padding: 9px 22px;
    border-radius: 10px;
    cursor: pointer;
}
#progect1:hover{
    background-color:transparent;
    border: 1px solid #EC9325;;
    color: white;
}
#progect2{
    right: 190px;
    position: relative;
    background-color: #FB3C2B;
    color:#101010;
    text-decoration: none;
    border:2px solid transparent;
    font-weight: bold;
    padding: 9px 22px;
    border-radius: 10px;
    cursor: pointer;
}
#progect2:hover{
    background-color:transparent;
    border: 1px solid  #FB3C2B;
    color: white;
}
#progect3{
    right: 190px;
    position: relative;
    background-color: #f9004d;
    color:#101010;
    text-decoration: none;
    border:2px solid transparent;
    font-weight: bold;
    padding: 9px 22px;
    border-radius: 10px;
    cursor: pointer;  
}
#progect3:hover{
    background-color:transparent;
    border: 1px solid  #f9004d;
    color: white;
}
#progect4{
    right: 190px;
    position: relative;
    background-color: #59b2bc;
    color:#101010;
    text-decoration: none;
    border:2px solid transparent;
    font-weight: bold;
    padding: 9px 22px;
    border-radius: 10px;
    cursor: pointer;
}
#progect4:hover{
    background-color:transparent;
    border: 1px solid  #59b2bc;
    color: white;
}
.col-two > h5{
    color: #EC9325;
    text-align: left;
    font-size: 25px;
}
.col-two > p{
    color: #ffffff;
    text-align: left;
    font-size: 20px;
    margin: 10px;
}
.col-three{
    grid-column: 1/2;
    grid-row: 1/1;
}
.col-four{
    grid-column: 2/2;
    grid-row: 1/1;
}
.col-four > h5{
    color: #FB3C2B;
    text-align: left;
    font-size: 25px;
}
.col-four > p{
    color: #ffffff;
    text-align: left;
    font-size: 20px;
    margin: 10px;
}
.col-five{
    grid-column: 1/2;
    grid-row: 1/1;
}
.col-six{
    grid-column: 2/2;
    grid-row: 1/1;
}
.col-six> h5{
    color:#f9004d;
    text-align: left;
    font-size: 25px;
}
.col-six > p{
    color: #ffffff;
    text-align: left;
    font-size: 20px;
    margin: 10px;
}
.col-eight > h5{
    color:#59b2bc;
    text-align: left;
    font-size: 25px;
}
.col-eight > p{
    color: #ffffff;
    text-align: left;
    font-size: 20px;
    margin: 10px;
}
.Project-box{
    display: grid;
    justify-content: left;
    align-items: flex-start;
    min-height: 200px;
    grid-template-rows: repeat(1,1fr);
    grid-template-columns: repeat(2,1fr);
}
.Project-card1{
    height: 200px;
    width: 335px;
    padding: 20px 35px;
    /* background: gray; */
    border-radius: 20px;
    margin: 15px;
    /* position: relative; */
    overflow: hidden;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    background-image: url("https://i.ibb.co/QM3rZFX/kottulabs.jpg");
    background-size: cover;
    background-position: center;
}
.Project-card2{
    height: 200px;
    width: 335px;
    padding: 20px 35px;
    /* background: gray; */
    border-radius: 20px;
    margin: 15px;
    /* position: relative; */
    overflow: hidden;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    background: url("https://i.ibb.co/zVVk8Qh/groceryshop.jpg");
    background-size: cover;
    background-position: center;
}
.Project-card3{
    height: 200px;
    width: 335px;
    padding: 20px 35px;
    /* background: gray; */
    border-radius: 10px;
    border: 1px solid white;
    margin: 15px;
    /* position: relative; */
    overflow: hidden;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    background-image: url("https://i.ibb.co/wcBS1R6/portfolio.png" );
    background-size: cover;
    background-position: center;
}
.Project-card4{
    height: 200px;
    width: 335px;
    padding: 20px 35px;
    /* background: gray; */
    border-radius: 10px;
    border: 1px solid white;
    margin: 15px;
    /* position: relative; */
    overflow: hidden;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    background-image: url("https://i.ibb.co/9T1sK1h/assigment.jpg" );
    background-size: cover;
    background-position: center;
}
.Project-card:hover{
    border: 1px solid crimson;
}
.text{
    margin: 0px 0px 0px 0px;
    font-size: 10px;
    right: 0;
    color: white;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 0px;
    width: 100%;
    text-align: center;
}
.project_img{
    text-align: center;
    align-items: center;
    justify-content: center;
    border: 1px solid aqua;
    margin: 10px 10px 10px 10px;
    height: 50px;

}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;

}
.prev{
    left: 0;
    border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
    color:crimson;
    font-size: 25px;

}
.mySlides fade img{
    width:50px;
    margin: 0;
}

.numbertext {
    color: #f2f2f2;
    font-size: 20px;
    padding: 8px 12px;
    position: absolute;
    top: 0;

}
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color:#f9004d ;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.dot:hover{
    background-color:#bbb;
    height: 18px;
    width: 18px;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

/*styling contact-me*/
.contact-me{
    width: 100%;
    height: 250px;
    background: #191919;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.contact-me p {
    color: white;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 25px;
}
.contact-me p span{
   display: inline-block;
    text-transform: uppercase;
    animation: flip 2s infinite;
    animation-delay: calc(.2s * var(--i))
}
.contact-me .button-two{
    background-color: #f9004d;
    color: white;
    text-decoration: none;
    border:2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
}
.contact-me .button-two:hover{
    background-color:transparent;
    border: 2px solid #f9004d;
    cursor: pointer;

}
.social > a > img{
    width: 45px;
    height: 45px;
}
 .social{
    font-size: 30px;
    color: white;
    margin-bottom: 0px;
    font-weight: bold;
}
.contact-me .social a{

    align-items: center;
    justify-content: center;
  /*  display: flex;*/
    background: none;
   border-radius: 50%;
    margin:22px 10px;

}
.contact-me .social a:hover{

    transform: scale(1.3);
    transition: .3s;

}
.contact-me .end{
    position: absolute;
    color: crimson;
    bottom: 35px;
    font-size: 14px;
    font-family: "DecoType Naskh";

}
footer{
   /* position: relative;*/
    width:100%;
    height: 50px;
    background: #191919;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
footer p:nth-child(1){
    font-size: 40px;
    color: crimson;
    margin-bottom: 0px;
    font-family: "Mistral";
}

/*scrolbar*/
::-webkit-scrollbar{
    width: 5px;
    background-color: #101010;

}
::-webkit-scrollbar-thumb{
    background-color:crimson;
    
}
